{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contents %}
    <div >
        <div>
                <h1 class="mt-5 text-uppercase text-danger border-bottom border-danger pb-2">{{type}} Page</h1>

            <h4 class="my-4">Welcome <span class="text-danger">{{user.first_name}} {{user.last_name}}</span> </h4>

            <div class="bg-danger-subtle p-3 rounded-2 mb-4">
                <h5>Username: <span class="text-danger-emphasis">{{user}}</span></h5>
                <h5>First name: <span class="text-danger-emphasis">{{user.first_name}}</span></h5>
                <h5>Last name: <span class="text-danger-emphasis">{{user.last_name}}</span></h5>
                <h5>Gmail: <span class="text-danger-emphasis">{{user.email}}</span></h5>
            </div>
            <div class="d-flex gap-2">
                <a class="w-50" href="{% url 'editprofile' %}"><button class="w-100 btn btn-primary">Edit Profile</button></a>
                <a class="w-50" href="{% url 'passchange' %}"><button class="w-100 btn bg-warning-subtle text-warning-emphasis">Change Password</button></a>
            </div>
        </div>

        <div class="mt-5">
            <p>My Posts</p>
            <div class="mb-5 row">
    
                {% for post in data %}
                    <div class="col-sm-6 mb-4">
                        <div class="card">
                          <div class="card-body">
                            <img src="{{post.image.url}}" class="w-100 rounded-2" alt="">
                            <h5 class="card-title mt-4">{{post.title}}</h5>
                            <p class="card-text">{{post.content}}</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            <h6>Categories: </h6>
                                {% for category in post.category.all %}
                                <button disabled class="btn-dark btn text-white mb-1">{{category.name}}</button>
                                {% endfor %}
                            <h6 class="mt-3"><span class="text-danger">Author: </span>
                                {% if post.author.first_name %}
                                {{post.author.first_name}} {{post.author.last_name}}
                                {% else %}
                                {{post.author}}
                              {% endif %}
                            </h6>
              
                            <div class="d-flex justify-content-end">
                              <a href="{% url 'edit_post' post.id %}"><button class="btn btn-primary me-2 px-4">Edit</button></a>
                              <a href="{% url 'delete_post' post.id %}"><button class="btn btn-danger px-4">Delete</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                        
                {% endfor %}
                    
            </div>
                
        </div>
        <!-- <form method="post">
            {% csrf_token %}
            {{form | crispy}}

            <div>
                <button type="submit" class="btn btn-danger text-white w-100">Submit</button>
            </div>
        </form> -->

        <!-- <div>
            <a href="{% url 'passchange' %}"><button class="btn btn-warning w-100 mt-4">Change Password</button></a>
        </div> -->
    </div>
{% endblock contents %}
    