:root{
    --primary-color: #CDFB07
}

.contain{
    max-width: 80vw;
    margin: 0 auto;
}

.navmenu{
    color: white
}

.active-item{
    font-weight: bold;
    color: var(--primary-color);
}

.button-common{
    background-color: var(--primary-color);
    transition: all 0.3s;
}

.button-common:hover{
    background-color: white;
    color:black
}

/* text transforms  */
.uppercase{
    text-transform: uppercase;
}

/* text colors  */
.color-primary{
    color: var(--primary-color);
}