:root{
    --primary-color: #CDFB07
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #1A1A1A;
}

.mainlogo{
    width: 50px;
}

.profile-pic{
    width: 300px;
}

.headingitems{
    padding-top: 200px;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.leftheading h1{
    font-size: 65px;
    margin-bottom: 5px;
}
.leftheading h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.leftheading p{
    font-size: 17px;
    color: #cfcaca;
    width: 90%;
    margin-bottom: 10px;
}

.leftheading{
    width: 60%;
}

.rightheading{
    width: 40%;
    display: flex;
    justify-content: center;
}

.rightheading img{
    border-radius: 20px;
    width: 100%;
    filter: drop-shadow(0 0 200px #cefb0739);
}

.header{
    min-height: 100vh;
}

.singlecard{
    gap: 40px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.cardimg{
    width: 50%;
    height: 320px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #1A1A1A;
}
.cardimg2{
    width: 50%;
    height: 290px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #1A1A1A;
}

.carddetail{
    width: 50%;
    color: white;
}

.carddetail h1{
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 34px;
    margin-bottom: 0;
}

.cardButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cardButtons > button{
    background-color:whitesmoke;
    color: #1f1f1f;
    border: 0;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 5px;
}

.cardtitle{
    display: flex;
    align-items: center;
}
.cardtitle i{
    font-size: 22px;
    cursor: pointer;
}
.cardtitle i:hover{
    color: var(--primary-color);
}
.cardlink a{
    text-decoration: none;
    color: white;
}
.cardlink{
    margin-left: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.education{
    display: flex;
    align-items: center;
}

.education > .eduleft{
    width: 50%;
}
.education > .eduright{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentedu > h1{
    font-size: 50px;
}
.contentedu > p{
    font-size: 18px;
}

.contactform{
    background-color: whitesmoke;
}
.form{
    padding-top: 30px;
    width: 800px;
    margin: 0 auto;
}
.form > input{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.form > textarea{
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px 15px;
    outline: none;
    height: 300px;
    border: none;
    border-radius: 4px;
}

.socialIcons{
    display: flex;
    width: fit-content;
    gap: 20px;
    margin: 0 auto;
}
.socialIcons > i{
    color: white;
    font-size: 22px;
}

@media only screen and (max-width: 700px){
    .contain{
        max-width: 100vw;
    }
    .headingitems{
        padding-top: 100px;
        flex-direction: column;
    }
    .leftheading{
        width: 90vw;
    }
    .leftheading > h1{
        font-size: 41px;
        margin-top: 39px;
    }
    .rightheading{
        width: 90vw;
    }

    .singlecard{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .singlecard >.cardimg {
        width: 100%;
    }
    .singlecard >.carddetail {
        width: 100%;
    }

    .singlecard{
        width: 100%;
        flex-direction: column;
    }

    .singlecard >.cardimg2 {
        width: 100%;
    }
    .singlecard >.carddetail2 {
        width: 100%;
    }
    .education{
        flex-direction: column-reverse;
    }
    .education > .eduleft{
        width: 100%;
    }
    .education > .eduright{
        width: 100%;
    }
}
