<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1>This is About page</h1>
            <a href="/navigation"><h1>First app / Home</h1></a>   
            <a href="/navigation/about"><h1>First app / About</h1></a>   
            <a href="/navigation/contact"><h1>First app / Contact</h1></a> 
        </div
        <script src="" async defer></script>
    </body>
</html>