@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #A91D3A;
    --secondary-color: #C73659;
    --neutral-color: #151515;
    --default-color: #EEEEEE
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--default-color);
}

section{
    width: 80%;
    margin: 0 auto;
}

.primary-color{
    color: var(--primary-color);
}

.neutral-bg{
    background-color: var(--neutral-color);
}

.searchSection{
    margin-top: 50px;
}
.loadedplayers{
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.playercard{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.card{
    padding: 10px;
    /* width: 320px; */
    min-height: 400px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 10px 10px 20px #1515150e,
        -10px -10px 20px  rgb(240, 240, 240)
    ;
}

.card > img{
    width: 100%;
    border-radius: 16px
}

.content > p{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}
.content > .name{
    text-align: center;
}

.card > .content{
    padding: 20px 0px;
    margin-top: -15px;
}

.content > .moreinfo{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 4px;
}

.moreinfo > p{
    text-align: center;
    color: var(--neutral-color);
    background-color: #15151527;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.tag{
    color: white;
    padding: 2px 10px;
    width: 28%;
    text-align: left;
    background-color: var(--primary-color);
}
.taginfo{
    padding: 2px 10px;
}

.buttongroup{
    display: flex;
    align-items: center;
    gap: 4px;
}
.buttongroup > button{
    width: 50%;
    background-color: var(--primary-color);
    color: var(--default-color);
    border: 0;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.buttongroup > button:hover{
    background-color: var(--neutral-color);
}

.selectedPlayers{
    width: 25%;
}


.searchField{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.searchField > input{
    width: 90% ;
    height: 40px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    padding: 0px 15px;
    font-size: 16px;
    outline: none;
    color: var(--neutral-color);
}
.searchField >button{
    width: 10%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--default-color);
    font-size: 18px;
    justify-content: center;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
.searchField > button > i{
    font-size: 14px;
}
.searchField > button:hover{
    background-color: var(--neutral-color);
}

.selectedPlayers{
    background-color: white;
    padding: 20px;
    border-radius: 16px;
}

.titlePlayerSec{
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.selectedPlayersMain{
    margin-top: 20px;
}
.singlePlayer{
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    background-color: var(--default-color);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
}

.singlePlayer > img{
    /* border-radius: 16px; */
    width: 20%;
}

.singlePlayer > .details{
    width: 80%;
}
.singlePlayer > .details > h2{
    font-size: 18px;
    color: var(--primary-color);
}



/* modal  */
.maindiv{
    position: relative;
    padding-top: 40px;
    min-height: 100vh;
}
.modalmain{
    display: none;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    animation: modalOpenAnimate 0.3s ease-in-out;
}


.modal{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    width: 1000px;
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 25%;
    left: 20%;
}
.modal >img{
    width: 35%;
    border-radius: 20px;
}

.modalDetails > .closediv{
    display: flex;
    justify-content: space-between;
}
.closediv > i{
    font-size: 25px;
    margin-right: 20px;
    color: var(--primary-color);
    cursor: pointer;
}

.modalinfo{
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}

.modalinfo > .otherinfo{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.otherinfo > p{
    padding: 2px 20px;
    background-color: #e8e8e8;
    font-size: 16px;
    color: var(--neutral-color);
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
}
.otherinfo > p >span{
    text-transform: capitalize;
    font-weight: 400;
    color: var(--neutral-color);
}

.iconmain{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-right: 25px;
}

.iconmain > .icons{
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 20px;
}

.iconmain > .icons > a{
    color: var(--neutral-color);
    transition: all 0.2s;
}
.iconmain > .icons > a:hover{
    color: var(--primary-color);
}

.modalBanner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    /* background-color: var(--neutral-color); */
    backdrop-filter: blur(8px);   
    background-color: #151515a9;
    display: none;
    animation: modalOpenBackAnimate 0.3s ease-out;
}

@keyframes modalOpenAnimate {
    0%{
        backdrop-filter: blur(10px);
    }
    100%{
        backdrop-filter: blur(0);
    }
}
@keyframes modalOpenBackAnimate {
    0%{
        backdrop-filter: blur(20px);
    }
    100%{
        backdrop-filter: blur(8px);
    }
}

.navbar{
    background: var(--default-color);
    padding: 10px 0px;
    position: fixed;
    width: 100vw;
    z-index: 5;
    top: 0;
}

.logotitle{
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.nav > .navitem{
    display: flex;
    gap: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    
}
.nav > .navitem > p:hover{
    color: var(--primary-color);
}


.footer{
    padding: 80px 0;
    background-color: var(--neutral-color);
    color: var(--default-color);
    margin-top: 100px;
    text-align: center;
}