{% extends 'base.html' %}


{% block title %}
    {{title}}
{% endblock title %}
    

{% block contents %}
<div class="container">
    <div>
        <h1>{{title}} cars</h1>
        <p style="font-size: 20px;">total {{cars | length}} cars founded...</p>
    </div>
    <div class="row" style="margin-top: 50px;">
        {% for car in cars %}
        <div class="col-lg-3 mb-4">
            <div class="card" >
                <div style="height: 300px; overflow: hidden; ">
                    <img src="{{car.image.url}}" style="width: fit-content; height: 100%;" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h6 class="card-title text-end">{{car.price}}$</h6>
                  <h5 class="card-title">{{car.name}}</h5>
                  <p class="card-text tx-primary">{{car.details | truncatewords:15}}</p>
                  <!-- <a href="#" class="btn btn-primary">{{car.brand.name}}</a> -->
                  <a href="{% url 'details' car.id %}" class="bgc-secondary text-black" style="text-decoration: none; padding: 6px; width: 100%; display: block; text-align: center; border-radius: 5px;">View Car</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contents %}
    