{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contents %}
<div style="margin: 50px 0; min-height: 70vh;">
    <div>
        <div>
               
               {% if albums %}
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Musician Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Album Rating</th>
                    <th scope="col">Instrument Type</th>
                    <th scope="col">Album Name</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for m in albums %}
                    <tr>
                      <th scope="row">{{m.aid}}</th>
                      <td>
                        <a href="{% url 'edit_musician' m.musician.email %}" style="text-decoration: none; color: #49090c; font-weight: 600;">
                          {{m.musician.first_name}} {{m.musician.last_name}}
                        </a>
                      </td>
                      <td>{{m.musician.email}}</td>
                      <td>{{m.rating}}</td>
                      <td>{{m.musician.instrument_type}}</td>
                      <td>{{m.name}}</td>
                      <td>{{m.release_date}}</td>
                      <td class="d-flex gap-2">
                        <a href="{% url 'edit_album' m.aid %}">Edit</a>
                        <a href="{% url 'delete_album' m.aid %}" style="color: #49090c;">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              {% else %}
                <div>
                  <h2 style="color: #49090c; font-size: 30px;">No album available... 
                    <a href="{% url 'add_album' %}" style="color: black; font-size: 18px;">click to add a album</a>
                  </h2>
                </div>
               {% endif %}
                 
        </div>
    </div>
</div>
{% endblock contents %}

